.image {
  max-width: 600px;
  display: block;
  flex-grow: 1;
}
.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
.scoreBox {
  margin-bottom: 22px;
}
.score {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 1000;
  font-size: 150px;
  text-shadow: 2px 0px 1px white, -2px 0px 1px white, 0px 2px 1px white,
    0px -2px 1px white;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
